
body{
    background-color: #d1c5c5;
    margin: 0;
    padding:0;
}
h1{
    font-family: 'Poppins';
    color: #FFFFFF;
    font-size: 64px;
    line-height: 80px;
}
h4{
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
header{
    background-color:#2D25A0;
    height:700px;
    width: 100%;
}

.top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    width: 90%;
    height: 100%;
}
.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    width: 168px;
    margin-top: 50px;
    padding: 10px 24px;
    background-color:#E02C6D;
    color: #FFFFFF;
}
.header-right img{
    width: 556.01px;
    height: 428px;

}

main{
    width: 100%;
    margin-right: auto;
}
/* -------------
  players
-------- */

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    margin: 20px 200px;
}

.highlight, .players{
    height: 474px;
    width: 330px;
    background-color:#FFFFFF;
    margin: 15px;

}
.highlight img, .player img{
    width: 300px;
    height: 256px;
    padding: 15px;
}
.highlight-info,.player-info{
    padding: 0px 20px;
    font-family: 'Poppins';
}

/* mobile responsive  */
@media only screen and (max-width:688px){
    .container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content:center;
        margin: 0px 15px;
    }
    .partners{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
    }
    .footer-image img{
        width: 300px;
        
    }
    
}

@media only screen and (min-width:688px) and (max-width:992px) {
    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* margin: 0 16% 0 16%; */
    }
    .partners{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-image img{
        width: 600px;
        
    }
}
/* heighlights 
-------------- */


/* partner 
----------- */
.highlight-headding,.partner-headding{
    margin-top: 50px;
    text-align: center;
    font-family: "Poppins";
    color:#0A0826;
}
.partners{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
}
.partner-image{
    height: 200px;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
}
/* footer  */
footer{
    margin-top: 100px;
}
.footer-image{
    display: flex;
    justify-content: center;
}
.social-link{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    margin: 50px 0px;
}

.copyright{
    font-family: 'Poppins';
    text-align: center;
    font-weight: 300;
    font-size: small;
    margin: 20px 0px;
}

